*{
    box-sizing: border-box;
}
.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", "Microsoft JhengHei";
    font-weight: 400;
    font-style: normal;
  }
.rocknroll-one-regular {
    font-family: "RocknRoll One", "Microsoft JhengHei";
    font-weight: 400;
    font-style: normal;
  }
body{
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
}
.empty_space100 {
    height: 100px; 
    background-color: transparent; 
}
.empty_space30 {
    height: 30px; 
    background-color: transparent; 
}
.top_corner {
    border-radius: 20px 20px 0px 0px;
}

.bottom_corner {
    border-radius: 0px 0px 20px 20px;
}

header{
    background-color: lightgreen;
    color:white;
    text-align: center;
    margin:0px;
    padding:20px;
}
.bg_img{
    background-image: url(image/bg_img/1.png);
    border-radius: 20px 20px 20px 20px;
}
nav{
    background-color: lightyellow;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}
nav a{
    padding:15px 20px;
    display:inline-block;
    text-decoration: none;
}
nav a:hover{
    background-color: #A6A600;
    color:white;
}

.img_font1{
    max-width: 250px;
    max-height: 250px;
}
.circle-image {
    border-radius: 50%; /* 讓圖片成為圓形 */
    border: 5px solid #333; /* 設定外框顏色和粗細 */
    object-fit: cover; /* 確保圖片被裁切而不會變形 */
  }
.project_div{
    display: flex;
    margin: 0 auto;  
    flex-direction: row; 
    flex: 1;
    width: 65%;
    justify-content: center;
    gap: 50px;
    margin-bottom: 40px;
}
aside{
    width: 130px; 
    padding: 10px;
    background-color: #CEFFCE;
    position: sticky;
    top: 0%; /* 從頂部計算的位置 */
    transform: translateY(-50%); /* 使其在垂直方向居中 */
}
footer{
   background-color: #FF7575; 
   display: flex;
   flex-direction: row; 
   align-items: center; 
   justify-content: center; 
   height: 150px; 
}
.icon_layout{
    display: flex;
    flex-direction: column; 
    gap: 25px;
    margin: 10px;
}
.icon_size{
    max-width: 70px;
    max-height: 70px;
}
.footer_text{
    font-size: 35px;
}

@media screen and (max-width:800px) {
        * {
            box-sizing: border-box;
        }
        .zen-old-mincho-regular {
            font-family: "Zen Old Mincho", "Microsoft JhengHei";
            font-weight: 400;
            font-style: normal;
        }
        .rocknroll-one-regular {
            font-family: "RocknRoll One", "Microsoft JhengHei";
            font-weight: 400;
            font-style: normal;
        }
        body {
            display: block;
            justify-content: initial;
            align-items: initial;
        }
    
        .empty_space100,
        .empty_space30 {
            height: 30px;
        }
    
        header {
            background-color: lightgreen;
            color: white;
            text-align: center;
            margin: 0;
            padding: 20px;
        }
    
        .bg_img {
            border-radius: 0; /* 取消圓角 */
            background-image: url(image/bg_img/1.png);
        }
    
        nav {
            background-color: lightyellow;
            text-align: center;
            font-size: 25px;
            margin-bottom: 0; /* 調整間距 */
        }
    
        .img_font1 {
            max-width: 100%; /* 調整為全寬 */
            max-height: auto;
        }
    
        .circle-image {
            border-radius: 50%;
            border: none; /* 取消外框 */
            object-fit: cover;
        }
    
        .project_div {
            display: block;
            margin: 0;
            width: 100%; /* 填滿整行 */
            gap: 0;
        }
    
        aside {
            position: static; /* 取消固定定位 */
            width: auto; /* 適應寬度 */
            padding: 10px;
            background-color: #CEFFCE;
        }
    
        footer {
            display: block; /* 調整為區塊 */
            align-items: initial;
            justify-content: initial;
            height: auto;
            background-color: #FF7575;
        }
    
        .icon_layout {
            display: flex;
            flex-direction: row; /* 調整為橫向 */
            gap: 15px; /* 調整間距 */
        }
    
        .icon_size {
            max-width: 50px; /* 縮小圖示大小 */
            max-height: 50px;
        }
    
        .footer_text {
            font-size: 20px; /* 縮小文字 */
        }
    }